<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Confirmation - BLP</title>

    <style>
       /* .btn {
            border:1px solid green;
            color:green;
            padding: 5px 10px;
            background:transparent;
        }
        .btn:hover{
            background: green;
            color: white;
        }*/
    </style>

</head>


<body>
    <h1>WELCOME TO VICTORIA COMPUTERS AND TELECOMS LTD</h1>
    <p>
        Please click/copy this link to confirm your email and complete registration.
    </p>
    
    <a class="btn" href="{{ confirm_url }}"> {{ confirm_url }} </a>
    
</body>
</html>
