{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
  
    <title>vicatel | {% block title %} {% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/">
    <link href="{% static 'account/images/loogo.jpg' %}" rel="icon">

    

    <!-- Bootstrap core CSS -->
<link href="{% static 'account/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Fontawesome-->

    
    <!-- Custom styles for this template -->
    {% block style %}

    {% endblock %}

    
  </head>





  {% include 'customer/navbar.html' %}
  {% block content %}


  {% endblock %}


  <div class="footer bg-primary text-sm text-center text-white" style="padding:5px;font-style: italic;">
      <div class="container">
            <p>&copy;2020,info@vicatel.co.tz <strong>Designed by PETER THOMAS OTIENO</strong></p>
      </div>
</div>

<script src="{% static 'account/js/bootstrap.bundle.min.js' %}"></script>


      
  </body>
</html>









