{% load static %}

    <nav class="navbar navbar-light bg-light container-fluid">

    <a class="navbar-brand"><img src="{% static 'account/images/LOGO.png' %}" class="img-responsive" height="50px" width="60px"></a>
  <a href="" class="btn btn-" style="background-color: midnightblue;color: white;"><i> </i> Sign In</a>

    </nav>


<div style="background-color: midnightblue;" class="shadow-lg container-fluid rounded">
<nav class="navbar navbar-expand-sm navbar-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-weight: 700;">VICATEL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="#">Acl Robotics</a></li>
              <li><a class="dropdown-item" href="#">Audit Bond</a></li>
              <li><a class="dropdown-item" href="#">Risk Bond</a></li>
              <li><a class="dropdown-item" href="#">Control Bond</a></li>
              <li><a class="dropdown-item" href="#">Compliance Bond</a></li>
            </ul>
          </li>

              <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="#">Consulting</a></li>
              <li><a class="dropdown-item" href="#">Supporting</a></li>
              <li><a class="dropdown-item" href="#">Implementation</a></li>

            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Company</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Training</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="false">AboutUs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="false">Customers</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">News&Events</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="#">WorkShop</a></li>
            </ul>
          </li>

        </ul>

        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
            <ul class="navbar-nav  mb-2 mb-sm-0 navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          </ul>

  
      
    
      </div>
    </div>
  </nav>


</div>
